<!DOCTYPE html>
<html>
<head>
	<title>About Us - resqU</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background: url({{url_for('static', filename='berries.jpg')}}); background-size: 100%; background-attachment: fixed">
	<center>
			<div style="margin-top: 100px">
				<img src="{{url_for('static', filename='resqUlogo1.png')}}" height="150px" width="300px">
			<div>
			<div>
				<div class="panel panel-default" style="opacity: 0.8; margin-top: 20px">
					<div class="panel-body">
						<h2>On-demand delivery service</h2>
					</div>
				</div>
				<br>
				<br>
				<br>
				<div class="panel panel-default" style="opacity: 0.8; width: 30%">
					<div class="panel-body">
						<h4>Project developped for ORF 401</h4>
						<h4>Richard Bush, Ines Franch, Molly Plissner</h4>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">resqU</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav navbar-right">
					    <li class="active"><a href="/aboutus">About Us<span class="sr-only">(current)</span></a></li>
					    <li><a href="/faq">FAQ</a></li>
					    <li><a href="/careers">Careers</a></li>
					  </ul>
					</div>
				</div>
			</nav>
			
		
	</center>
</body>
</html>