<!DOCTYPE html>
<html>
<head>
	<title>Careers - ResqU</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background: url({{url_for('static', filename='cart1.jpg')}}); background-size: 100%; background-attachment: fixed">
	<center>
		<div class="container col-md-12">
			<div style="margin-top: 100px">
				<img src="{{url_for('static', filename='resqUround.png')}}" height="150px" width="300px">
			<div>
			<div>
				<h2>Do you want to work for us?</h2>
				<h4>Shoot us an email at resqu@gmail.com</h4>
			</div>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">ResqU</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav navbar-right">
					    <li><a href="/aboutus">About Us</a></li>
					    <li><a href="/faq">FAQ</a></li>
					    <li class="active"><a href="/careers">Careers<span class="sr-only">(current)</span></a></li>
					  </ul>
					</div>
				</div>
			</nav>
		</div>
			
		
	</center>
</body>
</html>