<!DOCTYPE html>
<html>
<head>
	<title>Frequently Asked Questions - Resqu</title>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body style="background: url({{url_for('static', filename='cart1.jpg')}}); background-size: 100%; background-attachment: fixed">

<div class="jumbotron" style="width: 80%; margin-left: 10%; max-width: 1200px; margin-left: auto; margin-right: auto;">
      <div class="container">
		<div class="page-header ">
  			<h1 class="text-center">FAQ <br><small> You have questions,we have answers.</small></h1>
          <div class="well well-sm entete" style="width: 80%; margin-left: 10%;"></div>
		</div>
<br><br>
        
      
      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
Does it cost anything to get a resqU account?         </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse ">
      <div class="panel-body">
Nope! Having a resqU account is completely free!       </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
What products are available for purchase?        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        You can purchase anything that is currently available at the Princeton University Store. If your request is not in stock, you will be notified.       </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
How much notice do I need to give for my delivery?        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
The requests for delivery must be delivered before midnight the night before. This will ensure that your order has enough time to be processed so that when you wake up your package is at your door.      </div>
    </div>
  </div>
        <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
Where will my purchases be dropped?         </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
The purchases will be placed outside your door by the set delivery time. Once the package is dropped off, we are no longer liable for anything that happens to the purchases you have made.      </div>
    </div>
  </div>
        
            <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          What days does resqU offer delivery service? </a>      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">
        We currently deliver on Friday and Sunday mornings, but are in the process of adding more available days to our service.</div>    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
          How does payment work? </a>      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse">
      <div class="panel-body">
        Payment will be processed through Venmo. Your payment will not go through until it has been guaranteed that your requests are in stock, and your delivery will not be made until your payment goes through.</div>    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
          Can I change my order online? </a>      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse">
      <div class="panel-body">
        You can delete your order before the payment goes through, and submit a new request with the change.</div>    </div>
  </div>
      
</div>      
</div>

<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">ResqU</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/aboutus">About Us</a></li>
              <li class="active"><a href="/faq">FAQ<span class="sr-only">(current)</span></a></li>
              <li><a href="/careers">Careers</a></li>
            </ul>
          </div>
        </div>
      </nav>

</body>
</html>