<!DOCTYPE html>
<html>
<head>
	<title>Frequently Asked Questions - Resqu</title>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>


<!-- CSS used here will be applied after bootstrap.css
.img-center {margin:0 auto;}
.dl-horizontal dt{white-space: normal;}
.omacenter{margin-left:auto; margin-right:auto;}
.titre{color:#fff;} -->



<body>

<div class="jumbotron">
      <div class="container">
		<div class="page-header ">
  			<h1 class="text-center">FAQ <br><small> You have questions,we have answers.</small></h1>
          <div class="well well-sm entete"></div>
		</div>
<br><br>
        
      
      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
I have a question or need help to perform an anlaysis. Can I contact you to get any help?        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse ">
      <div class="panel-body">
Yes, we are reachable by email. For general questions about OMA, our preferred way of answering questions is through BioStar. Please consider asking your question there, including the tag OMA. We monitor BioStar for such questions and will answer them directly on that platform.       </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
Why is my favorite genome not present in OMA?        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        We strive to include as many complete genomes as possible, provided they are released publicly and meet reasonable quality standards. We are open for suggestions and are willing to adapt our priority queue based on user requests. If you want to analyze your "own" genomes, you can use the <a href="/standalone">OMA standalone pipeline</a> to do so and even make use of already analyzed genomes using the export function. OMA standalone is licenced under the Mozilla Public License Version 2.0. In a nutshell, OMA standalone is open source and free for commercial and non-commercial use.       </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
What is the difference between OMA Groups and Hierarchical Groups?        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
OMA Groups are sets of genes which are all orthologous to each other according to the definition of Fitch (1970). In presence of a duplication in certain gene familly, this grouping strategy will pick only one of the two lineages resulting from the duplication event. The hierarchical orthologous groups (HOGs) are defined as sets of genes that have descended from a single common ancestor within a taxonomic range of interest, i.e. they correspond to the member of a clade in a gene tree rooted at the speciation node of interest.
Which type of groups you should choose depends highly on the type of your analysis.      </div>
    </div>
  </div>
        <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
Why are OMA Groups often relatively small? Covering so many genomes, I expected them to be much bigger.         </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
For the OMA Groups, we apply a very stringent grouping strategy. All the members of a group need to be bona fide orthologs to each other, i.e. the form a clique in graph-theoretic terms. This grouping strategy is mainly intended for applications which require orthologs of high confidence, e.g. for reconstructing species trees. A gene tree built from the members of an OMA Group should - in absence of LGT are incomplete lineage sorting - be congruent with the underlying species tree. If you are interested in larger groups, consider using the OMA HOGs. These hierarchical orthologous groups are defined as set of genes that all started diverging from a single ancestral gene at a given time point of reference.      </div>
    </div>
  </div>
        
            <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
          Under what licence is OMA distributed </a>      </h4>
    </div>
    <div id="collapseHeight" class="panel-collapse collapse">
      <div class="panel-body">
        The OMA Browser is available under the Creative Commons Attribution-Share Alike 2.5 License, and the OMA standalone package under the MPL 2.0 (open source) licence.</div>    </div>
  </div>
      
      
      
      
      
      
</div>      
</div>


	<div class="jumbotron" style="width: 80%; margin-left: 10%; max-width: 1200px; margin-left: auto; margin-right: auto;">
      <div class="container">
		<div class="page-header ">
  			<h1 class="text-center">FAQ <br><small> You have questions,we have answers.</small></h1>
          <div class="well well-sm entete" style="background-color: #22780F; width: 80%; margin-left: 10%;">
          </div>
		</div>
		<br>
		<br>
        <div class="panel-group" id="accordion">
  			<div class="panel panel-default">
    			<div class="panel-heading">
      				<h4 class="panel-title">
        				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						Does it cost anything to get a resqU account?        </a>
      				</h4>
    			</div>
    			<div id="collapseFour" class="panel-collapse collapse ">
      				<div class="panel-body">
						Nope! Having a resqU account is completely free!       
					</div>
    			</div>
  			</div>
  			<div class="panel panel-default">
    			<div class="panel-heading">
      				<h4 class="panel-title">
        				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
						What products are available for purchase?        </a>
      				</h4>
   				</div>
    			<div id="collapseFive" class="panel-collapse collapse">
      				<div class="panel-body">
        				You can purchase anything that is currently available at the Princeton University Store. If your request is not in stock, you will be notified.       </div>
    			</div>
  			</div>
  			<div class="panel panel-default">
			    <div class="panel-heading">
			     	<h4 class="panel-title">
			    		<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
						How much notice do I need to give for my delivery?        </a>
      				</h4>
    			</div>
    			<div id="collapseSix" class="panel-collapse collapse">
      				<div class="panel-body">
						The requests for delivery must be delivered before midnight the night before. This will ensure that your order has enough time to be processed so that when you wake up your package is at your door.      </div>
    			</div>
  			</div>
        	<div class="panel panel-default">
    			<div class="panel-heading">
     				<h4 class="panel-title">
        				<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
						Where will my purchases be dropped?         </a>
      				</h4>
    			</div>
    			<div id="collapseSeven" class="panel-collapse collapse">
      				<div class="panel-body">
						The purchases will be placed outside your door by the set delivery time. Once the package is dropped off, we are no longer liable for anything that happens to the purchases you have made.     </div>
    			</div>
  			</div>
            <div class="panel panel-default">
    			<div class="panel-heading">
      				<h4 class="panel-title">
        				<a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
          				What days does resqU offer delivery service? </a>      </h4>
    			</div>
    			<div id="collapseHeight" class="panel-collapse collapse">
      				<div class="panel-body">
        				We currently deliver on Friday and Sunday mornings, but are in the process of adding more available days to our service.</div>    </div>
  			</div>
  			<div class="panel panel-default">
    			<div class="panel-heading">
      				<h4 class="panel-title">
        				<a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
          				How does payment work? </a>      </h4>
    			</div>
    			<div id="collapseHeight" class="panel-collapse collapse">
      				<div class="panel-body">
        				Payment will be processed through Venmo. Your payment will not go through until it has been guaranteed that your requests are in stock, and your delivery will not be made until your payment goes through.</div>    </div>
  			</div>
  			<div class="panel panel-default">
    			<div class="panel-heading">
      				<h4 class="panel-title">
        				<a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
          				Can I change my order online? </a>      </h4>
    			</div>
    			<div id="collapseHeight" class="panel-collapse collapse">
      				<div class="panel-body">
        				You can delete your order before the payment goes through, and submit a new request with the change.</div>    </div>
  			</div>
      	</div>      
	  </div>
	</div>

	<div class="col-md-6 col-md-offset-3" style="margin-top: 50px">
		<center>
			<h1>Frequently Asked Questions</h1>
			<br>
			<ul class="list-group">
				<li class="list-group-item">
					<h4>Does it cost anything to get a resqU account?</h4>
					<p>Nope! Having a resqU account is completely free!</p>
				</li>
				<li class="list-group-item">
					<h4>What products are available for purchase?</h4>
					<p>You can purchase anything that is currently available at the Princeton University Store. If your
					request is not in stock, you will be notified.</p>
				</li>
				<li class="list-group-item">
					<h4>How much notice do I need to give for my delivery?</h4>
					<p>The requests for delivery must be delivered before midnight the night before. This will ensure
					that your order has enough time to be processed so that when you wake up your package is at your door.</p>
				</li>
				<li class="list-group-item">
					<h4>Where will my purchases be dropped?</h4>
					<p>The purchases will be placed outside your door by the set delivery time. Once the package is dropped off, we are no longer liable for anything that happens to the purchases you have made.</p>
				</li>
				<li class="list-group-item">
					<h4>What days does resqU offer delivery service?</h4>
					<p>We currently deliver on Friday and Sunday mornings, but are in the process of adding more available days to our service.</p>
				</li>
				<li class="list-group-item">
					<h4>How does payment work?</h4>
					<p>Payment will be processed through Venmo. Your payment will not go through until it has been guaranteed that your requests are in stock, and your delivery will not be made until your payment goes through.</p>
				</li>
				<li class="list-group-item">
					<h4>Can I change my order online?</h4>
					<p>You can delete your order before the payment goes through, and submit a new request with the change.</p>
				</li>


			</ul>
		</center>
	</div>
</body>
</html>