<!DOCTYPE html>
<html>
<head>
	<title>Order - Resqu</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div style="margin-top: 50px">
		<center>
			<h3>Fill the following form to place an order</h3>
			<form style="margin-top: 30px" action="" method="post" name="order">
				{{ form.hidden_tag() }}
		        {{ form.time(placeholder="Choose a delivery time", style="width: 275px", class_="form-control") }}
		        {{ form.item1(placeholder="First item", style="width: 275px", class_="form-control") }}
		        {{ form.item2(placeholder="Second item", style="width: 275px", class_="form-control") }}
		        {{ form.item3(placeholder="Third item", style="width: 275px", class_="form-control") }}
		        {{ form.item4(placeholder="Fourth item", style="width: 275px", class_="form-control") }}
		        {{ form.item5(placeholder="Fifth item", style="width: 275px", class_="form-control") }}
		        {{ form.item6(placeholder="Sixth item", style="width: 275px", class_="form-control") }}
		        {{ form.item7(placeholder="Seventh item", style="width: 275px", class_="form-control") }}
		        <p><input class="btn btn-primary" type="submit" value="Submit your order"></p>
			</form>
		</center>
	</div>
</body>
</html>