<!DOCTYPE html>
<html>
<head>
	<title>Order - Resqu</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div style="margin-top: 50px">
		<center>
			<h3>Fill the following form to place an order</h3>
			<form style="margin-top: 30px" action="" method="post" name="order">
				{{ form.hidden_tag() }}
		        {{ form.time(placeholder="Choose a delivery time", style="width: 275px", class_="form-control") }}
		        <br>

		        {% if form.item1.errors %}
    			{% for error in form.item1.errors %}
    			<span style="color: red;">[{{ error }}]</span>
    			{% endfor %}<br>
    			{% endif %}
		        {{ form.item1(placeholder="First item (required) ", style="width: 275px", class_="form-control") }}
		        <br>
		        {{ form.item2(placeholder="Second item", style="width: 275px", class_="form-control") }}
		        <br>
		        {{ form.item3(placeholder="Third item", style="width: 275px", class_="form-control") }}
		        <br>
		        {{ form.item4(placeholder="Fourth item", style="width: 275px", class_="form-control") }}
		        <br>
		        {{ form.item5(placeholder="Fifth item", style="width: 275px", class_="form-control") }}
		        <br>
		        {{ form.item6(placeholder="Sixth item", style="width: 275px", class_="form-control") }}
		        <br>
		        {{ form.item7(placeholder="Seventh item", style="width: 275px", class_="form-control") }}
		        <br>
		        <p><input class="btn btn-success" type="submit" value="Submit your order" name='order'></p>
			</form>

			<div style="margin-left:100px margin-right:100px">
			<h3> Make a mistake with your order? Need to cancel an order? Click here to delete your current order. You can then place another if you'd like </h3>
			<form action="/order", method="POST", name="cancelorder">
			<p><input class="btn btn-large btn-danger" type="submit", name="cancelorder", value="Delete my most recent order"/></p>
			</form>
			</div>

		</center>
	</div>
</body>
</html>