<!DOCTYPE html>
<html>
<head>
	<title>Sign up - Resqu</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<div style="margin-top: 80px">
		<center>
			<h2>Welcome to Resqu</h2>
			<h3>Please provide the following information to create a new account</h3>
			<form style="margin-top: 50px" action="" method="post" name="signup">
				{{ form.hidden_tag() }}
				{{ form.email(placeholder="Email", style="width: 275px", class_="form-control") }}
				<br>
				{{ form.password(placeholder="Password", style="width: 275px", class_="form-control") }}
				<br>
				{{ form.conPass(placeholder="Confirm password", style="width: 275px", class_="form-control") }}
				<br>
				{{ form.fullName(placeholder="Full name", style="width: 275px", class_="form-control") }}
				<br>
				{{ form.dormHall(placeholder="Dorm Hall", style="width: 275px", class_="form-control") }}
		        <br>
		        {{ form.dormNum(placeholder="Dorm Num", style="width: 275px", class_="form-control") }}
		        <br>
		        <p><input class="btn btn-primary" type="submit" value="Submit"></p>
			</form>
		</center>
	</div>
</body>
</html>