<!DOCTYPE html>
<html>
<head>
	<title>Sign up - resqU</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background: url({{url_for('static', filename='cart1.jpg')}}); background-size: 100%; background-attachment: fixed">

	<div style="margin-top: 80px">
		<center>
			<div class="panel panel-default" style="opacity: 0.8;">
				<div class="panel-body">
					<h2>Welcome to resqU</h2>
					<h3>Please provide the following information to create a new account</h3>
				</div>
			</div>
			<form style="margin-top: 50px" action="" method="post" name="signup">
				{{ form.hidden_tag() }}

   				{% if form.fullName.errors %}
    			{% for error in form.fullName.errors %}
    			<span style="color: red;">[{{ error }}]</span>
    			{% endfor %}<br>
    			{% endif %}
				{{ form.fullName(placeholder="Full name", style="width: 275px", class_="form-control") }}
				<br>


				{% if form.email.errors %}
    			{% for error in form.email.errors %}
    			<span style="color: red;">[{{ error }}]</span>
    			{% endfor %}<br>
    			{% endif %}
				{{ form.email(placeholder="Email", style="width: 275px", class_="form-control") }}
				<br>

				{% if form.password.errors %}
    			{% for error in form.password.errors %}
    			<span style="color: red;">[{{ error }}]</span>
    			{% endfor %}<br>
    			{% endif %}
				{{ form.password(placeholder="Password", style="width: 275px", class_="form-control") }}
				<br>


				{{ form.conPass(placeholder="Confirm password", style="width: 275px", class_="form-control") }}
				<br>

				{% if form.dormHall.errors %}
    			{% for error in form.dormHall.errors %}
    			<span style="color: red;">[{{ error }}]</span>
    			{% endfor %}<br>
   				{% endif %}
				{{ form.dormHall(placeholder="Dorm Hall", style="width: 275px", class_="form-control") }}
		        <br>

		        {% if form.dormNum.errors %}
    			{% for error in form.dormNum.errors %}
    			<span style="color: red;">[{{ error }}]</span>
    			{% endfor %}<br>
    			{% endif %}
		        {{ form.dormNum(placeholder="Dorm Num", style="width: 275px", class_="form-control") }}
		        <br>
		        <p><input class="btn btn-success" type="submit" value="Create Account"></p>


			</form>
			<br>
			<br>
			<br>
			<div class="panel panel-default" style="opacity: 0.8; width: 40%">
				<h4> Already have an account? Click below to Log In </h4>
    		</div>
    		<a class="btn btn-primary" href="/login">Log in</a>
    		<br>
    		<br>
		</center>
	</div>

	<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">resqU</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
					    <li><a href="/login">Log In</a></li>
						<li class="active"><a href="/signup">Sign Up<span class="sr-only">(current)</span></a></li>
					  </ul>
					  <ul class="nav navbar-nav navbar-right">
					    <li><a href="/aboutus">About Us</a></li>
					    <li><a href="/faq">FAQ</a></li>
					    <li><a href="/careers">Careers</a></li>
					  </ul>
					</div>
				</div>
			</nav>




</body>
</html>