<!DOCTYPE html>
<html>
<head>
	<title>Resqu</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<center>

		<div class="container" style="position: relative; left: 0; top: 0; background-color: #cccccc">
			<img src="cart1.jpg" width="100%" style="position: relative; top: 0; left: 0;">
			<img src="resqUround.png" heihgt="150px" width="300px" style="position: absolute; top: 50px; left: 450px">
			<h2 class="text-center" style="color: black; position: absolute; top: 180px; left: 40%">You click. It's there.</h2>
			<div style="margin-top: 50px; position: absolute; top: 200px; left: 46%">
				<a class="btn btn-primary" href="/login" style="width: 100px">Login</a>
				<br>
				<a class="btn btn-success" href="/signup" style="margin-top: 10px; width: 100px">Sign up</a>
			</div>
			<div class="navbar" style="background-color: #539DC2; opacity: 0.6; margin-top: -58px">
				<div class="navbar-inner">
			    <h3 style="color: black; opacity: 2">Campus delivery service</h3>
			  	</div>
			</div>
			<img src="redbull.jpg" style="margin-left: 0px; margin-top: 50px; height: 300px;">
			<img src="tylenol.jpg" style="margin-left: 0px; margin-top: 50px; height: 300px;">
			<img src="candy.jpg" style="margin-left: 0px; margin-top: 50px; height: 300px;">
			<img src="gatorade.jpg" style="margin-left: 0px; margin-top: 50px; height: 300px; width: 450px">
		</div>
			
		
	</center>
</body>
</html>