<!DOCTYPE html>
<html>
<head>
	<title>Thank You - resqU</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background: url({{url_for('static', filename='cart1.jpg')}}); background-size: 100%; background-attachment: fixed">
	<center>
			<div style="margin-top: 100px">
				<img src="{{url_for('static', filename='resqUlogo1.png')}}" height="150px" width="300px">
			<div>
			<div class="panel panel-default" style="opacity: 0.8; margin-top: 20px">
				<div class="panel-body">
					<h2>Thank you for placing your order with us</h2>
					<br>
					<h4>An email has been sent to you with your order and payment details</h4>
					<h4>The email will redirect you to Venmo for simple payment</h4>
				</div>
			</div>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">resqU</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
					    <li><a href="/logout">Log Out</a></li>
					  </ul>
					  <ul class="nav navbar-nav navbar-right">
					    <li class="active"><a href="/aboutus">About Us<span class="sr-only">(current)</span></a></li>
					    <li><a href="/faq">FAQ</a></li>
					    <li><a href="/careers">Careers</a></li>
					  </ul>
					</div>
				</div>
			</nav>
			
		
	</center>
</body>
</html>